{
  "openapi": "3.0.3",
  "info": {
    "title": "Polymarket Perps HTTP API",
    "version": "1.0.0",
    "description": "HTTP API for Polymarket perpetual trading system.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.perpetuals.polymarket.com",
      "description": "Production Perps HTTP API"
    }
  ],
  "paths": {
    "/v1/info/ping": {
      "get": {
        "operationId": "getPing",
        "summary": "Test Connection",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        },
        "description": "Test connection to the server.\n",
        "responses": {
          "200": {
            "description": "Successful ping response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/time": {
      "get": {
        "operationId": "getTime",
        "summary": "Get Server Time",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        },
        "description": "Get server time.\n",
        "responses": {
          "200": {
            "description": "Successful time response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Time"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/exchange": {
      "get": {
        "operationId": "getExchange",
        "summary": "Get Exchange Info",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get exchange information.\n",
        "responses": {
          "200": {
            "description": "Successful exchange information response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exchange"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/assets": {
      "get": {
        "operationId": "getAssets",
        "summary": "Get Collateral Assets",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get a list of collateral assets.\n",
        "responses": {
          "200": {
            "description": "Assets response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Asset"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/instruments": {
      "get": {
        "operationId": "getInstruments",
        "summary": "Get Instruments",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get all instruments.",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4294967295,
              "description": "Instrument ID"
            }
          },
          {
            "name": "instrument_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/instrument_type"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instruments response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Instrument"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/tickers": {
      "get": {
        "operationId": "getTickers",
        "summary": "Get Tickers",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get all instrument tickers with live market data.",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/instrument_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ticker"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/statistics": {
      "get": {
        "operationId": "getStatistics",
        "summary": "Get Statistics",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get last 24-hour statistics for all instruments.",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/instrument_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Statistic"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/klines": {
      "get": {
        "operationId": "getKlines",
        "summary": "Get Klines",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **5**</Badge>"
        },
        "description": "Get klines for an instrument.\nIf no end time is provided, the current time will be used.\nMaximum of 1000 entries returned per request.\n",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4294967295,
              "description": "Instrument ID"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/interval"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Klines response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KlinesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/mark-history": {
      "get": {
        "operationId": "getMarkHistory",
        "summary": "Get Mark Price History",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **5**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Cached for 2s. A request served from cache costs **1**</Badge>\n"
        },
        "description": "Get mark price history for an instrument, bucketed by interval.\nIf no end time is provided, the current time will be used.\nMaximum of 1000 entries returned per request.\nOnly buckets with at least one mark update are included.\nFor intervals of a minute or coarser, a bucket cut mid-way by `end_timestamp`\nmay be omitted, or may reflect the window's last mark at one-minute fidelity.\n",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4294967295,
              "description": "Instrument ID"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/interval"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mark price history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkHistoryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/bbo": {
      "get": {
        "operationId": "getBBO",
        "summary": "Get BBO",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get best bid and offer for all instruments.",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/instrument_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BBO response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BBO"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/book": {
      "get": {
        "operationId": "getBook",
        "summary": "Get Book",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight:</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Depth 10: **2**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Depth 100: **5**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Depth 500: **10**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Depth 1000: **20**</Badge>\n"
        },
        "description": "Get book for an instrument.",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4294967295,
              "description": "Instrument ID"
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/depth"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Book response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Book"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/index": {
      "get": {
        "operationId": "getIndex",
        "summary": "Get Index",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get index price and the list of constituents for an asset.",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index constituents response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Index"
                },
                "examples": {
                  "index": {
                    "summary": "Index constituents",
                    "value": {
                      "asset": "NVDA",
                      "index_price": "160.00",
                      "constituents": [
                        {
                          "source": "chainlink",
                          "symbol": "NVDA/USD",
                          "weight": "1.0",
                          "price": "160.00"
                        }
                      ],
                      "ts": 1767225600000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/trades": {
      "get": {
        "operationId": "getTrades",
        "summary": "Get Recent Trades",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        },
        "description": "Get public trades for an instrument.\nMaximum of 100 entries returned per request.\n",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4294967295,
              "description": "Instrument ID"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trades response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trades"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/portfolio": {
      "get": {
        "operationId": "getPublicPortfolio",
        "summary": "Get Public Portfolio",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **5**</Badge>"
        },
        "description": "Get public portfolio for an address including equity and open positions.\n",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Public portfolio response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPortfolio"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/position-fills": {
      "get": {
        "operationId": "getPublicPositionFills",
        "summary": "Get Current Position Fills",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Cached 2s — a request served from cache costs **1**</Badge>"
        },
        "description": "Get every fill in a registered account's current open position cycle for\none instrument. A cycle begins when the position opens from flat or flips\ndirection. For a flip, every fill from the flipping engine event belongs\nto the new cycle so a fill is never split between cycles.\n\nReturns an empty page when the account has no open position for the\ninstrument. Maximum of 100 entries returned per request. Results are\nordered by time; use `sort` to choose newest-first (`desc`, default) or\noldest-first (`asc`). To page through more than 100 fills, pass the opaque\n`cursor` returned by the previous page and keep `sort` unchanged. Each page\nverifies that the cursor still describes the account's current position\ncycle. If that position changes while pagination is in progress, the\ncursor returns `400` and pagination must restart from the first page.\n\nCycle discovery for a position inherited from a gateway snapshot is\nlimited to 250,000 account-history rows. A cycle older than that bound\nreturns `413` rather than allowing a public request to run an unbounded\nClickHouse scan. Positions opened or flipped after gateway startup carry\ntheir cycle boundary directly and do not use this discovery scan.\n",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/address"
            }
          },
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4294967295,
              "description": "Instrument ID"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/fills_cursor"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/sort"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current position fills response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTrades"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "408": {
            "$ref": "#/components/responses/Error408Response"
          },
          "413": {
            "$ref": "#/components/responses/Error413Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/funding": {
      "get": {
        "operationId": "getFundingHistory",
        "summary": "Get Historical Funding",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        },
        "description": "Get public funding rate history for an instrument.\nMaximum of 100 entries returned per request.\n",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4294967295,
              "description": "Instrument ID"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Funding rate history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FundingHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/fees": {
      "get": {
        "operationId": "getInfoFees",
        "summary": "Get Fees",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get the fee tier schedule for each instrument type and category.",
        "responses": {
          "200": {
            "description": "Fee schedule response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeesInfo"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/limit-tiers": {
      "get": {
        "operationId": "getLimitTiers",
        "summary": "Get Limit Tiers",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get the list of account limit tiers. Action and open-order fields are enforced per account; legacy request-rate fields are not used for gateway request enforcement.",
        "responses": {
          "200": {
            "description": "Limit tiers response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LimitTier"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/info/invite": {
      "get": {
        "operationId": "checkInviteCode",
        "summary": "Check Invite Code",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        },
        "description": "Check whether an invite code can be used. When `address` is provided, the\nresponse is invalid if that address already has an account.\n",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/code"
            }
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/address"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite code validation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InviteCheckResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/trade/orders": {
      "post": {
        "operationId": "createOrders",
        "summary": "Create Orders",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1 + floor(n / 20)**</Badge> <Badge color=\"gray\" size=\"md\">Action Weight: **1 / order**</Badge>"
        },
        "description": "Create new orders.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "requestBody": {
          "description": "Order request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order ACK response. Order result should be fetched using the get orders endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      },
      "delete": {
        "operationId": "cancelOrders",
        "summary": "Cancel Orders",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1 + floor(n / 20)**</Badge> <Badge color=\"gray\" size=\"md\">Action Weight: **0**</Badge>"
        },
        "description": "Cancel orders.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "requestBody": {
          "description": "Cancel request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancel response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CancelResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      },
      "patch": {
        "operationId": "modifyOrders",
        "summary": "Modify Orders",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1 + floor(n / 20)**</Badge> <Badge color=\"gray\" size=\"md\">Action Weight: **1 / order**</Badge>"
        },
        "description": "Modify the price and total quantity of existing orders by exchange order ID.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "requestBody": {
          "description": "Modify request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One modify result per requested order, in request order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModifyResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BatchError400Response"
          },
          "404": {
            "$ref": "#/components/responses/BatchError404Response"
          },
          "429": {
            "$ref": "#/components/responses/BatchError429Response"
          },
          "500": {
            "$ref": "#/components/responses/BatchError500Response"
          }
        }
      }
    },
    "/v1/trade/orders/all": {
      "delete": {
        "operationId": "cancelAllOrders",
        "summary": "Cancel All Orders",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge> <Badge color=\"gray\" size=\"md\">Action Weight: **0**</Badge>"
        },
        "description": "Cancel all open orders for the authenticated account on one instrument.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "requestBody": {
          "description": "Cancel all request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAllRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancel all accepted response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/trade/orders-coid": {
      "delete": {
        "operationId": "cancelOrdersByCoid",
        "summary": "Cancel Orders COID",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1 + floor(n / 20)**</Badge> <Badge color=\"gray\" size=\"md\">Action Weight: **0**</Badge>"
        },
        "description": "Cancel orders by client order ID.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "requestBody": {
          "description": "Cancel by coid request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelByCoidRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cancel response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CancelResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      },
      "patch": {
        "operationId": "modifyOrdersByCoid",
        "summary": "Modify Orders COID",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1 + floor(n / 20)**</Badge> <Badge color=\"gray\" size=\"md\">Action Weight: **1 / order**</Badge>"
        },
        "description": "Modify the price and total quantity of existing orders by client order ID.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "requestBody": {
          "description": "Modify by coid request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyByCoidRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One modify result per requested order, in request order.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModifyResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BatchError400Response"
          },
          "404": {
            "$ref": "#/components/responses/BatchError404Response"
          },
          "429": {
            "$ref": "#/components/responses/BatchError429Response"
          },
          "500": {
            "$ref": "#/components/responses/BatchError500Response"
          }
        }
      }
    },
    "/v1/trade/auto-cancel": {
      "patch": {
        "operationId": "setAutoCancel",
        "summary": "Set Auto-Cancel",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge> <Badge color=\"gray\" size=\"md\">Action Weight: **10**</Badge>"
        },
        "description": "Set a dead man's switch that cancels all your open orders at the chosen\ntime. The time must be at least 5 seconds in the future. Send 0 to clear\nan active schedule without triggering it; posting a new time replaces the\ncurrent one.\n\nThe switch fires once, then clears itself. It does not cover orders you\nplace after it fires, so re-arm it if you still need protection.\n\nAn account can trigger auto-cancel up to 1000 times per UTC day. After\nthat, the API rejects new schedules with the error\n`auto_cancel_daily_limit_reached` until the next UTC day. Clearing a\nschedule is always allowed. To check the active deadline and today's\ntrigger count, call [Get Auto-Cancel Status](/api-reference/get-auto-cancel-status).\n\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "requestBody": {
          "description": "Auto-cancel request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoCancelRequest"
              },
              "examples": {
                "enable": {
                  "summary": "Enable auto-cancel",
                  "value": {
                    "op": {
                      "type": "autoCancel",
                      "args": {
                        "time": 1767000045000
                      }
                    },
                    "sig": "0x2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b1c",
                    "salt": 666666666,
                    "ts": 1767000015000
                  }
                },
                "disable": {
                  "summary": "Disable auto-cancel",
                  "value": {
                    "op": {
                      "type": "autoCancel",
                      "args": {
                        "time": 0
                      }
                    },
                    "sig": "0x8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f1c",
                    "salt": 666666667,
                    "ts": 1767000016000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The effective auto-cancel schedule after the update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoCancelResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "404": {
            "$ref": "#/components/responses/Error404Response"
          },
          "422": {
            "$ref": "#/components/responses/Error422Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/trade/leverage": {
      "patch": {
        "operationId": "updateLeverage",
        "summary": "Update Leverage",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge> <Badge color=\"gray\" size=\"md\">Action Weight: **1**</Badge>"
        },
        "description": "Update leverage for an instrument.\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\n",
        "requestBody": {
          "description": "Leverage request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeverageRequest"
              },
              "examples": {
                "updateLeverage": {
                  "summary": "Update leverage for one instrument",
                  "value": {
                    "op": {
                      "type": "updateLeverage",
                      "args": {
                        "iid": 1,
                        "lev": 5,
                        "cross": false
                      }
                    },
                    "sig": "0x59ed57f6dce8d15aa01e774ef53d9957c84801fb34ec655f6a2ea344af8a58843095314730a3f1bd8f0f4560f6dc6f8de69d3f2d0a6f3365fc877f7f4845d40b1c",
                    "salt": 333333333,
                    "ts": 1767000012000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The instrument's effective leverage configuration after the update.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeverageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "422": {
            "$ref": "#/components/responses/Error422Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/trade/leverage/batch": {
      "patch": {
        "operationId": "updateLeverages",
        "summary": "Update Leverage for Multiple Instruments",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1 + floor(n / 20)**</Badge> <Badge color=\"gray\" size=\"md\">Action Weight: **1 / instrument**</Badge>"
        },
        "description": "Update leverage for up to 100 unique instruments. Updates are processed\nsequentially and are not atomic. If only some responses arrive before the\ngateway deadline, missing item results use `internal_error`; whether those\nupdates applied is unknown. If no responses arrive, the request returns 500.\nRequires proxy signature, see [Update Leverage](/perps/trading#update-leverage).\n",
        "requestBody": {
          "description": "Batch leverage request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeverageBatchRequest"
              },
              "examples": {
                "updateLeverages": {
                  "summary": "Update leverage for multiple instruments",
                  "value": {
                    "op": {
                      "type": "updateLeverages",
                      "args": [
                        {
                          "iid": 1,
                          "lev": 5,
                          "cross": false
                        },
                        {
                          "iid": 2,
                          "lev": 10,
                          "cross": true
                        }
                      ]
                    },
                    "sig": "0x59ed57f6dce8d15aa01e774ef53d9957c84801fb34ec655f6a2ea344af8a58843095314730a3f1bd8f0f4560f6dc6f8de69d3f2d0a6f3365fc877f7f4845d40b1c",
                    "salt": 333333333,
                    "ts": 1767000012000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ordered result for each requested instrument.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LeverageBatchResponse"
                  }
                },
                "examples": {
                  "mixedResult": {
                    "summary": "One update succeeds and one is rejected",
                    "value": [
                      {
                        "status": "ok",
                        "instrument_id": 1,
                        "leverage": 5,
                        "cross": false
                      },
                      {
                        "status": "err",
                        "instrument_id": 2,
                        "error": "insufficient_margin"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BatchError400Response"
          },
          "429": {
            "$ref": "#/components/responses/BatchError429Response"
          },
          "500": {
            "$ref": "#/components/responses/BatchError500Response"
          }
        }
      }
    },
    "/v1/account/proxy": {
      "post": {
        "operationId": "createProxy",
        "summary": "Create Proxy",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        },
        "description": "Create a new proxy to sign orders. Returns an API secret for private account access.\nRequires EOA signature, see [EOA signing](/http/signing#1-eoa-signing).\n",
        "requestBody": {
          "description": "Proxy creation request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProxyRequest"
              },
              "examples": {
                "createProxy": {
                  "summary": "Create a proxy",
                  "value": {
                    "op": {
                      "type": "createProxy",
                      "args": {
                        "owner": "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266",
                        "proxy": "0x70997970C51812dc3A010C7d01b50e0d17dc79C8",
                        "expiry": 1767225600000
                      }
                    },
                    "sig": "0x4d11d89f6d8e2f0fd22fb5dd9e6e88a35f3a2c0f3a9e4ff9f8f0da5e6c5f241d2ed7d173f7fcb15726b8a7e7f1f1277ec54c060f5b3ab4d72dbf4d0e40ee6e9a1c",
                    "salt": 123456789,
                    "ts": 1767000000000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proxy creation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProxyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "422": {
            "$ref": "#/components/responses/Error422Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      },
      "delete": {
        "operationId": "deleteProxy",
        "summary": "Delete Proxy",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        },
        "description": "Delete a proxy by address.\nRequires EOA signature, see [EOA signing](/http/signing#1-eoa-signing).\n",
        "requestBody": {
          "description": "Delete proxy request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteProxyRequest"
              },
              "examples": {
                "deleteProxy": {
                  "summary": "Delete a proxy",
                  "value": {
                    "op": {
                      "type": "deleteProxy",
                      "args": {
                        "proxy": "0x70997970C51812dc3A010C7d01b50e0d17dc79C8"
                      }
                    },
                    "sig": "0x9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a1c",
                    "salt": 888888888,
                    "ts": 1767000020000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delete proxy response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "422": {
            "$ref": "#/components/responses/Error422Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/credentials": {
      "get": {
        "operationId": "getCredentials",
        "summary": "Get Credentials",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get the account ID, address, and proxy keys for the authenticated account.",
        "responses": {
          "200": {
            "description": "Credentials response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credentials"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/orders": {
      "get": {
        "operationId": "getOrders",
        "summary": "Get Orders",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight:</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">With order ID: **1**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Without order ID: **10**</Badge>\n"
        },
        "description": "Get historical order snapshots for the authenticated account from the order history database.\nReturns the latest known state for each matching order, including accepted, open, partial,\nfilled, and cancelled orders. For currently resting orders only, use Get Open Orders.\nMaximum of 100 entries returned per request.\n",
        "parameters": [
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/order_id"
            }
          },
          {
            "name": "client_order_id",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/coid"
            }
          },
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/iid"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderData"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/open-orders": {
      "get": {
        "operationId": "getOpenOrders",
        "summary": "Get Open Orders",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight:</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">With instrument ID: **1**</Badge>\n<br/>\n<Badge color=\"gray\" size=\"md\">Without instrument ID: **20**</Badge>\n"
        },
        "description": "Get open orders for the authenticated account.",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/iid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderData"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/balances": {
      "get": {
        "operationId": "getBalances",
        "summary": "Get Balances",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get asset balances for the authenticated account.",
        "responses": {
          "200": {
            "description": "Balances response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Balance"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/portfolio": {
      "get": {
        "operationId": "getPortfolio",
        "summary": "Get Portfolio",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get current portfolio snapshot including open positions, margin summary, and withdrawable balance.\n",
        "responses": {
          "200": {
            "description": "Portfolio response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Portfolio"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/fills": {
      "get": {
        "operationId": "getFills",
        "summary": "Get Fills",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        },
        "description": "Get fill history for the authenticated account.\nIf no end time is provided, the current time will be used.\nMaximum of 100 entries returned per request.\nResults are ordered by time; use `sort` to choose newest-first (`desc`,\ndefault) or oldest-first (`asc`). To page through more than 100 fills,\npass the `cursor` returned by the previous page (keep `sort` consistent\nacross pages). Passing the trade ID of the last fill from the previous\npage is also still accepted.\n",
        "parameters": [
          {
            "name": "start_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/cursor"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/sort"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fills response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTrades"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/equity": {
      "get": {
        "operationId": "getEquityHistory",
        "summary": "Get Equity",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        },
        "description": "Get equity history for the authenticated account.\nIf no end time is provided, the current time will be used.\nEach point is the last equity sample in its `interval` bucket, stamped with\nthat sample's own timestamp rather than the bucket's start — so every\ntimestamp falls within the requested window. Buckets are aligned to the\nUnix epoch.\nEquity history is served at one-minute resolution, so `1s` is served as\n`1m`.\nMaximum of 1000 entries returned per request — of buckets, so a coarser\ninterval covers a longer window before `more` is set. When `more` is true,\npage by re-requesting from one millisecond past the last timestamp\nreturned; that always lands on the next bucket, never back inside the one\njust served.\n",
        "parameters": [
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/interval"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Equity history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquityHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/pnl": {
      "get": {
        "operationId": "getPnlHistory",
        "summary": "Get PnL",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        },
        "description": "Get PnL history for the authenticated account.\nIf no end time is provided, the current time will be used.\nEach point is the PnL realized inside its `interval` bucket — not a running\ntotal. Buckets are aligned to the Unix epoch, and one in which nothing was\nrealized is omitted, so the series is sparse.\nA point is stamped with the last populated hour in its bucket, not with the\nbucket's start, so every returned timestamp falls within the requested\nwindow. Window bounds select whole one-hour rollup rows before coarser\nbuckets are formed.\nMaximum of 1000 entries returned per request — of buckets, so a coarser\ninterval covers a longer window before `more` is set. When `more` is true,\npage by re-requesting from one millisecond past the last timestamp\nreturned; that always lands on the next bucket, never back inside the one\njust served.\n",
        "parameters": [
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pnl_interval"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PnL history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PnlHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/funding": {
      "get": {
        "operationId": "getAccountFunding",
        "summary": "Get Funding Charges",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        },
        "description": "Get funding payment history for the authenticated account.\nIf no end time is provided, the current time will be used.\nMaximum of 100 entries returned per request.\n",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 4294967295,
              "description": "Instrument ID"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account funding history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountFundingHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/withdraw": {
      "post": {
        "operationId": "withdraw",
        "summary": "Withdraw",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        },
        "description": "Submit a signed withdrawal request.\nRequires EOA signature, see [EOA signing](/http/signing#1-eoa-signing).\n\nThe `amount` field is the raw token amount including decimals (e.g. `\"100000000\"` for 100 USDC).\nThis must match the `uint256 amount` value used in the EIP-712 `Withdraw` signature.\n\nThe `ts` field is Unix seconds (not milliseconds) because the on-chain contract validates it\nagainst `block.timestamp`. It must also match the `uint64 ts` in the signed EIP-712 struct.\n",
        "requestBody": {
          "description": "Withdraw request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawRequest"
              },
              "examples": {
                "withdraw": {
                  "summary": "Withdraw 100 USDC",
                  "value": {
                    "op": {
                      "type": "withdraw",
                      "args": {
                        "account": "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266",
                        "token": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
                        "amount": "100000000",
                        "to": "0x70997970C51812dc3A010C7d01b50e0d17dc79C8"
                      }
                    },
                    "sig": "0x5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a1c",
                    "salt": 555555555,
                    "ts": 1767000014
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The accepted withdrawal, carrying its `withdraw_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "422": {
            "description": "The withdrawal was rejected on its merits (e.g. insufficient balance).\nThe body carries `withdraw_id` and `error`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawRejected"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/internal-transfer": {
      "post": {
        "operationId": "internalTransfer",
        "summary": "Internal Transfer",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        },
        "description": "Submit a signed internal ledger transfer between two exchange accounts.\nRequires proxy signature using the standard signed-op flow.\n",
        "requestBody": {
          "description": "Internal transfer request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InternalTransferRequest"
              },
              "examples": {
                "transfer": {
                  "summary": "Transfer USDC to another account",
                  "value": {
                    "op": {
                      "type": "internalTransfer",
                      "args": {
                        "account": "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266",
                        "token": "0xaf88d065e77c8cc2239327c5edb3a432268e5831",
                        "amount": "100.00",
                        "to": "0x70997970C51812dc3A010C7d01b50e0d17dc79C8"
                      }
                    },
                    "sig": "0x5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a1c",
                    "salt": 555555555,
                    "ts": 1767000014000,
                    "label": "ops-rebalance"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The accepted transfer, carrying its `transfer_id`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalTransferAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "422": {
            "description": "The transfer was rejected on its merits (e.g. insufficient balance,\ntransfer to self). The body carries `transfer_id` and `error`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalTransferRejected"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/deposits": {
      "get": {
        "operationId": "getDeposits",
        "summary": "Get Deposits",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        },
        "description": "Get deposit history for the authenticated account.\nIf no end time is provided, the current time will be used.\nMaximum of 100 entries returned per request.\n",
        "parameters": [
          {
            "name": "deposit_status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/deposit_status"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/hash"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deposit history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deposits"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/internal-transfers": {
      "get": {
        "operationId": "getInternalTransfers",
        "summary": "Get Internal Transfers",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        },
        "description": "Get settled internal transfer history for the authenticated account.\nReturns both inbound and outbound transfers.\n",
        "parameters": [
          {
            "name": "start_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Internal transfer history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalTransfers"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/withdrawals": {
      "get": {
        "operationId": "getWithdrawals",
        "summary": "Get Withdrawals",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        },
        "description": "Get withdrawal history for the authenticated account.\nIf no end time is provided, the current time will be used.\nMaximum of 100 entries returned per request.\n",
        "parameters": [
          {
            "name": "withdrawal_status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/withdrawal_status"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/hash"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/start_timestamp"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_timestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawal history response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Withdrawals"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/stats": {
      "get": {
        "operationId": "getAccountStats",
        "summary": "Get Account Stats",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get the authenticated account's 7-day trading stats (taker volume, maker volume,\naccount maker share, and entity maker share when applicable).\nStats are cached by UTC day and may be stale by up to 24 hours.\n",
        "responses": {
          "200": {
            "description": "Account stats response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountStats"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/limits": {
      "get": {
        "operationId": "getAccountLimits",
        "summary": "Get Account Limits",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get the authenticated account's effective rate-limit allowances for its current\nvolume-based tier: order-action rate, open-order cap, and the display-only\nmessages-per-minute figure. `open_orders` reflects the account's current live\nopen-order count; the rate-usage counters (`actions_per_minute`,\n`actions_burst`, and `reset`) are not tracked here and are reported as 0.\n",
        "responses": {
          "200": {
            "description": "Account limits response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLimits"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/rewards": {
      "get": {
        "operationId": "getAccountRewards",
        "summary": "Get Account Rewards",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get per-instrument daily liquidity reward shares for the authenticated account.\nReward periods run from 12:00 UTC to 12:00 UTC and are labeled by their UTC end date.\nOI rewards pay 6% APR on the account's full daily average gross OI across all\ninstruments when the combined daily average gross OI of its rewards entity is\nat least $5M. Accounts without an entity mapping qualify independently.\nThe first reward period starts at 2026-07-06 12:00 UTC. If no date range is provided,\nthe latest computed reward period is returned.\n",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/date"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/start_date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/end_date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account rewards response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountRewards"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/config": {
      "get": {
        "operationId": "getConfig",
        "summary": "Get Instrument Config",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **2**</Badge>"
        },
        "description": "Get per-instrument configuration (leverage and margin mode) for the authenticated account.",
        "parameters": [
          {
            "name": "instrument_id",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/instrument_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instrument config response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountConfig"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/auto-cancel": {
      "get": {
        "operationId": "getAutoCancel",
        "summary": "Get Auto-Cancel Status",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        },
        "description": "Get the current auto-cancel status for the authenticated account: the\narmed deadline, how many times the switch has fired today, and when the\ndaily counter resets.\n",
        "responses": {
          "200": {
            "description": "Auto-cancel status response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoCancelStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/invite": {
      "post": {
        "operationId": "createAccountInvite",
        "summary": "Create Account Invite",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        },
        "description": "Create or return the authenticated account's primary invite code. The call\nis idempotent for accounts that already have a primary invite code.\n",
        "requestBody": {
          "description": "Empty invite creation request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInviteRequest"
              },
              "examples": {
                "createAccountInvite": {
                  "summary": "Create or get the authenticated account invite code",
                  "value": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account invite response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInviteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/account/referral": {
      "get": {
        "operationId": "getAccountReferral",
        "summary": "Get Account Referral",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        },
        "description": "Get the authenticated account's invite code, parent referral code, direct\nreferral count, and fee share rate.\n",
        "responses": {
          "200": {
            "description": "Account referral response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountReferral"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      },
      "post": {
        "operationId": "applyReferral",
        "summary": "Apply Referral Code",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge>"
        },
        "description": "Apply a referral code to the authenticated account after signup. Accounts\ncan only apply a referral code if they do not already have one.\n",
        "requestBody": {
          "required": true,
          "description": "Referral code to apply.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountReferralRequest"
              },
              "examples": {
                "applyReferral": {
                  "summary": "Apply a referral code",
                  "value": {
                    "code": "ABC123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Referral code accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "401": {
            "$ref": "#/components/responses/Error401Response"
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "$ref": "#/components/responses/Error500Response"
          }
        }
      }
    },
    "/v1/trade/margin": {
      "patch": {
        "operationId": "updateMargin",
        "summary": "Update Isolated Margin",
        "security": [],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **1**</Badge> <Badge color=\"gray\" size=\"md\">Action Weight: **1**</Badge>"
        },
        "description": "Adjust the signed collateral allocation for an existing isolated position.\nUse a positive amount to add margin and a negative amount to remove it.\nA removal may include unrealized isolated profit, but the resulting\nisolated position equity (allocation + unrealized PnL - settled funding)\nmust remain at or above the position's current required initial margin.\n\nBoth additions and removals are rejected while the account is in cross\nliquidation or the target isolated position is in isolated liquidation.\nAn isolated liquidation on another instrument does not block this request.\n\nCancel-only mode does not gate margin adjustments.\n\nRequires proxy signature, see [proxy signing](/http/signing#2-proxy-signing).\nGateway signature validation rejects a stale or future-skewed timestamp as\n`invalid signature`. A request that passes gateway validation can still fail\nsequencer freshness revalidation with\n`invalid_margin_signature_timestamp`. Reusing the exact signed request\nrejects with `signature_already_used`.\n",
        "requestBody": {
          "description": "Margin request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarginRequest"
              },
              "examples": {
                "addMargin": {
                  "summary": "Add margin to a position",
                  "value": {
                    "op": {
                      "type": "updateMargin",
                      "args": {
                        "iid": 1,
                        "amt": "100.00"
                      }
                    },
                    "sig": "0x7d8e9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d1c",
                    "salt": 444444444,
                    "ts": 1767000013000
                  }
                },
                "removeMargin": {
                  "summary": "Remove margin or unrealized isolated profit",
                  "value": {
                    "op": {
                      "type": "updateMargin",
                      "args": {
                        "iid": 1,
                        "amt": "-25.00"
                      }
                    },
                    "sig": "0x7d8e9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d1c",
                    "salt": 444444445,
                    "ts": 1767000013001
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generic response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400Response"
          },
          "422": {
            "description": "Sequenced domain rejection. Stable errors include\n`position_not_found`, `invalid_margin_mode`,\n`invalid_margin_amount`, `insufficient_margin`,\n`account_liquidating`, `margin_below_required_initial`, and\n`signature_already_used`. `invalid_margin_signature_timestamp`\nspecifically indicates that sequencer freshness revalidation rejected\na request that passed gateway validation.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Error429Response"
          },
          "500": {
            "description": "Internal server error or timeout. The outcome may be indeterminate if\nthe request was sequenced but its Risk decision did not reach the\ngateway before the timeout. Before retrying, refresh the position using\n`GET /v1/account/portfolio`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account/notifications": {
      "get": {
        "operationId": "getAccountNotifications",
        "summary": "Get Notifications",
        "security": [
          {
            "polymarket_proxy": [],
            "polymarket_secret": []
          }
        ],
        "x-mint": {
          "content": "<Badge color=\"gray\" size=\"md\">Request Weight: **10**</Badge>"
        },
        "description": "Get the authenticated account's notifications, newest first.\n\nResults come in pages. Pass the cursor returned by the previous page to\nfetch the next, older one. If your WebSocket connection dropped or you\nreceived a resync frame, pass since_seq to backfill anything you may have\nmissed; the same notification can show up again at the edges of the\nwindow, so deduplicate by id. While paging through a backfill, keep\nsending the same since_seq with each cursor so every page stays inside\nthe same window.\n\nThe response also includes your unread count and durable_source_seq, which\ntells you how far the notification store has caught up. If a backfill has\nnot yet reached your target sequence, wait briefly and retry with the same\nsince_seq.\n",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/notif_cursor"
            }
          },
          {
            "name": "since_seq",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/since_seq"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notifications page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationsResponse"
                }
              }
            }
          },
          "400": {
[...]
